In [1]:
from database_gen import DB
from Pre_Processing import pre_processing as PP
from datetime import datetime

from importlib import reload
#reload(database_gen);

In [2]:
data = DB(name='NFL_13_22.db')

Inputs Validated!

In [3]:
start = datetime.now()

# data = DB(path='data/rushing_feed.csv', name='NFL_13_22.db',
#           add_data=True, table_type='rush', g_drop=True, any_drop=True)

end = datetime.now()
td = (end - start).total_seconds() * 10**3
print(f"The time of execution of above program is : {td:.03f}ms")

The time of execution of above program is : 0.067ms

In [4]:
start = datetime.now()

# data = DB(path='data/passing_feed.csv', name='NFL_13_22.db',
#           add_data=True, table_type='pass', g_drop=False, any_drop=True)

end = datetime.now()
td = (end - start).total_seconds() * 10**3
print(f"The time of execution of above program is : {td:.03f}ms")

The time of execution of above program is : 0.052ms

In [5]:
data.get_tGame()

      game_id  season  week home_team away_team
0        2742    2013     1       DEN       BLT
1        2743    2013     1       BUF        NE
2        2744    2013     1       CAR       SEA
3        2745    2013     1       CHI       CIN
4        2746    2013     1       CLV       MIA
...       ...     ...   ...       ...       ...
2703    23658    2022    29       BUF       CIN
2704    23659    2022    29        SF       DAL
2705    23660    2022    30       PHI        SF
2706    23661    2022    30        KC       CIN
2707    23662    2022    32       PHI        KC

[2708 rows x 5 columns]

In [6]:
data.get_tPass()

,play_id,game_id,offense,defense,game_clock,clock_min,clock_sec,quarter,down,distance,...,pass_box,blitz,shotgun,pistol,play_action,screen,first_down_conv,stunt,yards_gained,play_type
0,685251,2742,BLT,DEN,15:00,15,0,1,1,10,...,11.0,NaN,None,None,1,0,N,NaN,-1,P
1,685253,2742,BLT,DEN,13:38,13,38,1,3,8,...,7.0,NaN,S,None,0,0,N,NaN,11,P
2,685257,2742,DEN,BLT,12:25,12,25,1,3,9,...,7.0,NaN,S,None,0,0,Y,NaN,13,P
3,685264,2742,BLT,DEN,10:31,10,31,1,2,10,...,10.0,NaN,None,None,1,0,N,NaN,11,P
4,685265,2742,BLT,DEN,10:03,10,3,1,3,6,...,3.0,1.0,S,None,0,0,Y,NaN,35,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123584,4990335,23662,PHI,KC,06:07,6,7,4,3,4,...,8.0,1.0,S,None,0,0,Y,NaN,17,P
123585,4990337,23662,PHI,KC,05:45,5,45,4,1,10,...,1.0,NaN,S,None,1,0,Y,NaN,50,P
123586,4990345,23662,KC,PHI,04:38,4,38,4,2,7,...,9.0,NaN,S,None,0,0,Y,1.0,15,P
123587,4990349,23662,KC,PHI,04:11,4,11,4,2,8,...,8.0,NaN,S,None,0,0,N,NaN,10,P
123588,4990358,23662,KC,PHI,02:00,2,0,4,2,8,...,11.0,1.0,S,None,0,1,N,NaN,5,P

In [7]:
data.get_tRush()

,play_id,game_id,offense,defense,game_clock,clock_min,clock_sec,quarter,down,distance,...,off_package,def_package,shotgun,pistol,play_action,screen,first_down_conv,runner_position,yards_gained,play_type
0,685252,2742,BLT,DEN,14:14,14,14,1,2,11,...,2-0-1-2,4-2-5,None,None,0,0,N,HB,5,R
1,685256,2742,DEN,BLT,13:05,13,5,1,2,10,...,3-0-1-1,2-4-5,S,P,0,0,N,HB,1,R
2,685259,2742,DEN,BLT,11:58,11,58,1,2,10,...,3-0-1-1,2-4-5,S,P,0,0,N,HB,8,R
3,685262,2742,BLT,DEN,11:09,11,9,1,1,10,...,2-1-1-1,4-3-4,None,None,0,0,Y,HB,17,R
4,685266,2742,BLT,DEN,09:26,9,26,1,1,10,...,2-1-1-1,4-3-4,None,None,0,0,N,HB,10,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138846,4990351,23662,KC,PHI,03:38,3,38,4,3,1,...,2-1-1-1,4-3-4,None,None,0,0,Y,HB-R,12,R
138847,4990354,23662,KC,PHI,02:07,2,7,4,1,10,...,1-0-1-3,5-2-4,None,None,0,0,N,HB,5,R
138848,4990364,23662,KC,PHI,01:48,1,48,4,1,10,...,2-0-1-2,3-3-5,S,None,0,0,N,HB-R,9,R
138849,4990365,23662,KC,PHI,01:36,1,36,4,2,1,...,1-0-1-3,3-3-5,None,None,0,0,N,QB,-5,R
138850,4990367,23662,KC,PHI,00:54,0,54,4,3,6,...,1-1-1-2,3-3-5,None,None,0,0,N,QB,-2,R

In [8]:
data.get_tRunConcept()

        play_id run_concept_1 run_concept_2 run_concept_3
0        685252         Power          None          None
1        685256          None       Cutback          Base
2        685259          None          Base          None
3        685262          None          Lead          None
4        685266          None          Lead          None
...         ...           ...           ...           ...
138846  4990351     Pull Lead          Lead          None
138847  4990354           Man          None          None
138848  4990364       Counter          None          None
138849  4990365     Undefined          None          None
138850  4990367     Undefined          None          None

[138851 rows x 4 columns]

In [27]:
# fieldpos_list = [pos.split(' ') for pos in df['fieldpos']]
# for i, pos in enumerate(fieldpos_list):
#     if pos[0] == df['offense'].iloc[i]:
#         pos[1] = int('-' + pos[1])
#         df['fieldpos'].iloc[i] = pos[1]
#     else:
#         df['fieldpos'].iloc[i] = int(pos[1])