In [1]:
from database_gen import DB
from Pre_Processing import pre_processing as PP
from datetime import datetime

from importlib import reload
#reload(database_gen);

In [2]:
data = DB(name='FCS_19_22.db')

Inputs Validated!

In [3]:
start = datetime.now()

data = DB(path='data/rushing_data_ncaa_19_22.csv', name='FCS_19_22_v2.db',
          add_data=True, table_type='rush', g_drop=True, any_drop=True)

end = datetime.now()
td = (end - start).total_seconds() * 10**3
print(f"The time of execution of above program is : {td:.03f}ms")

Filling Tables: 1.0
The time of execution of above program is : 877083.139ms

In [4]:
start = datetime.now()

data = DB(path='data/passing_data_ncaa_19_22.csv', name='FCS_19_22_v2.db',
          add_data=True, table_type='pass', g_drop=False, any_drop=True)

end = datetime.now()
td = (end - start).total_seconds() * 10**3
print(f"The time of execution of above program is : {td:.03f}ms")

Filling Tables: 1.0
The time of execution of above program is : 1044608.191ms

In [5]:
data.get_tGame()

      game_id  season  week home_team away_team
0       16593    2019     1      MOSE      ILSO
1       16594    2019     3      ILSO      TNMR
2       16595    2019     6      SDST      ILSO
3       16596    2019     7      ILSO      ILST
4       16597    2019     8      ILSO      OHYO
...       ...     ...   ...       ...       ...
1728    23550    2022    15      SDST      MAHC
1729    23551    2022    18      NCCE      MSJA
1730    23593    2022    19      NDST      TXIW
1731    23594    2022    19      SDST      MTST
1732    23595    2022    20      SDST      NDST

[1733 rows x 5 columns]

In [6]:
data.get_tPass()

,play_id,game_id,offense,defense,game_clock,quarter,down,distance,game_sequence,fieldpos,...,pass_box,blitz,shotgun,pistol,play_action,screen,first_down_conv,stunt,yards_gained,play_type
0,3359400,16600,MOSW,ILSO,14:36,1,1,10,3,MOSW 38,...,8.0,NaN,S,None,0,0,N,1.0,2.0,P
1,3359401,16600,MOSW,ILSO,14:07,1,2,8,4,MOSW 40,...,11.0,1.0,S,None,1,1,N,NaN,NaN,P
2,3359402,16600,MOSW,ILSO,14:04,1,3,8,5,MOSW 40,...,5.0,NaN,S,None,0,0,N,1.0,NaN,P
3,3359404,16600,ILSO,MOSW,13:52,1,1,10,7,MOSW 23,...,9.0,1.0,S,None,0,0,N,NaN,10.0,P
4,3359405,16600,ILSO,MOSW,13:27,1,2,1,8,MOSW 14,...,5.0,NaN,S,None,1,0,Y,NaN,16.0,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129120,4970887,23595,NDST,SDST,00:53,4,1,10,153,SDST 16,...,NaN,NaN,S,None,0,0,N,NaN,NaN,P
129121,4970896,23595,NDST,SDST,00:42,4,2,14,154,SDST 20,...,NaN,NaN,S,None,0,0,N,NaN,NaN,P
129122,4970905,23595,NDST,SDST,00:34,4,3,10,155,SDST 16,...,10.0,NaN,S,None,0,0,N,NaN,9.0,P
129123,4970914,23595,NDST,SDST,00:27,4,4,6,156,SDST 12,...,1.0,1.0,S,None,0,0,N,1.0,NaN,P
129124,4995355,22458,TXSO,TXPV,10:50,2,1,10,58,TXSO 48,...,6.0,NaN,S,None,0,0,Y,NaN,13.0,P

In [7]:
data.get_tRush()

,play_id,game_id,offense,defense,game_clock,quarter,down,distance,game_sequence,fieldpos,...,off_package,def_package,shotgun,pistol,play_action,screen,first_down_conv,runner_position,yards_gained,play_type
0,3359399,16600,MOSW,ILSO,15:00,1,1,10,2,MOSW 25,...,3-0-1-1,4-2-5,S,None,0,0,Y,SLWR,19,R
1,3359409,16600,MOSW,ILSO,13:22,1,1,10,12,MOSW 25,...,3-0-1-1,4-2-5,S,None,0,0,N,SLWR,1,R
2,3359413,16600,ILSO,MOSW,11:48,1,1,10,16,MOSW 49,...,3-0-1-1,4-3-4,S,None,0,0,N,HB-L,8,R
3,3359415,16600,MOSW,ILSO,11:02,1,1,10,18,MOSW 4,...,2-0-1-2,4-2-5,S,None,0,0,N,HB-R,4,R
4,3359418,16600,MOSW,ILSO,09:18,1,1,10,21,MOSW 43,...,3-0-1-1,4-2-5,S,None,0,0,N,HB-R,3,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113807,4970920,23595,SDST,NDST,00:22,4,1,10,157,SDST 12,...,2-0-1-2,4-3-4,None,None,0,0,N,QB,-1,R
113808,4986181,22458,TXPV,TXSO,13:45,2,2,4,51,TXPV 41,...,4-0-1-0,3-2-6,S,None,0,0,Y,QB,16,R
113809,4995354,22458,TXPV,TXSO,11:05,1,2,3,14,TXSO 35,...,2-0-1-2,4-2-5,S,None,0,0,N,HB-L,2,R
113810,4995356,22458,TXSO,TXPV,10:30,2,1,10,59,TXPV 39,...,4-0-1-0,2-4-5,S,None,0,0,N,HB-R,0,R
113811,4995357,22458,TXSO,TXPV,10:00,2,2,10,60,TXPV 39,...,4-0-1-0,2-4-5,S,None,0,0,N,QB,4,R

In [8]:
data.get_tRunConcept()

        play_id run_concept_1 run_concept_2 run_concept_3
0       3359399       Counter  Speed Option  Misdirection
1       3359409   Inside Zone  Speed Option   Read Option
2       3359413       Counter   Read Option          None
3       3359415   Inside Zone   Read Option          None
4       3359418  Outside Zone          None          None
...         ...           ...           ...           ...
113807  4970920     Undefined          None          None
113808  4986181      No Video          None          None
113809  4995354         Power   Read Option          None
113810  4995356      No Video          None          None
113811  4995357      No Video          None          None

[113812 rows x 4 columns]